/*
页面布局三大核心
    盒子模型
    浮动
    定位

网页布局本质
    是将网页切分成一个一个块，每个块就是一个盒子
    网页由盒子拼接而成
    本质核心：利用css摆盒子

网页布局过程
    先准备好相关的网页元素，网页元素基本都是盒子box
    利用css设置好盒子样式，然后摆放到相应位置
    往盒子里面装内容

盒子模型组成
    盒子模型：就是把HTML页面中的布局元素看做是一个矩形和盒子，也就是一个盛装内容的容器
    css盒子模型本质上是一个盒子，封装周围的HTML元素，它包括边框，外边距，内边距和实际内容

    content: 实际内容 : 盒子的主体
    padding: 内边距  : 盒子和边框的距离
    border:  边框    : 边框的大小
    margin:  外边框  : 盒子和盒子间的距离
 */