/*
什么是复合选择器:复合选择器是建立在基础选择器之上，对基本选择器进行组合形成的
复合选择器作用:可以更准确，更高效的选择目标元素
复合选择器是有两个或者多个基础选择器，通过不同的方式组合而成的
常用的复合选择器包括
    后代选择器
    子选择器
    并集选择器
    伪类选择器

后代选择器
    后代选择器又称为包含选择器，可以选择父元素里面子元素
    其写法就是把外层标签写在里面，内存标签写在后面，中间用空格分隔，当标签发生嵌套时，内层标签就称为外层标签的后代
    有点像xpath里面找标签的路径，中间可以隔开某个标签也能找到，也可以一层一层往下找

语法
    元素1 元素2 {声明样式}
    元素1和元素2用空格隔开
    元素1是父级，元素2是子级，最终选择的是元素2
    元素1,和元素2可以是基础选择器里面的任意类型
 */

ol li {
    color : red;
}

ol li a {
    text-decoration : none;;
}

.box li {
    color: #FF6600;
}